

.product-container h6 a {
    text-decoration: none; /* 링크 밑줄 제거 */
    display: block; /* block 요소로 만들어 넓이 제한 가능하게 함 */
    white-space: nowrap; /* 줄바꿈 없음 */
    overflow: hidden; /* 내용이 넘치면 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
}

.product-list {
    display: flex;
	flex-wrap: wrap; /* 추가 */
}
.product-price {
	font-size: 18px; /* 원하는 폰트 크기로 설정 */
}
.product-review {
	font-size: 15px; /* 원하는 폰트 크기로 설정 */
}

