---
---

@import '{{ site.theme }}';
@import "product";
@media screen and (max-width: 768px) {
    .product-container {
        width: 40%;
        font-size:15px;
        float: left;
        box-sizing: border-box;
        padding-right: 10px;
    }
}
/* append your custom style below */
