---
---

@import '{{ site.theme }}';
@import "product";
@media screen and (max-width: 768px) {
    .product-container {
        width: 100%;
        font-size:15px;
    }
    
    .product-container img {
        max-width: 100%;
        height: auto;
    }
}


/* append your custom style below */
